@import 'vendor/slick-theme.less';

@font-face {
    font-family: 'Cabin';
    src: local("../fonts/Cabin-Regular.ttf") format("truetype");
    src: local("../fonts/Cabin-Bold.ttf") format("truetype");
}

//
// Variables
//

@navipartner-blue: #0095ff;
@color-white: #fff;


//
// Slick slider
//

@slick-dot-color: @navipartner-blue;
@slick-dot-size: 35px;

.slick-loading .slick-list {
    background: @color-white url('@{slick-loader-path}/../../images/ajax-loader.gif') center center no-repeat;
}

.slick-prev:before,
.slick-next:before {
    font-size: 20px;
}

//
// Debugging hints
//

.debugging-hint-template-file {
    font-weight: 700 !important;
}

.debugging-hint-block-class {
    color: #222222 !important;
    font-weight: 700 !important;
}

body {
    font-family: 'Cabin', sans-serif;

    .page-header {
        box-shadow: 0 5px 60px 0 rgba(0, 0, 0, 0.25);

        .panel.wrapper {
            background-color: @navipartner-blue;
            a {
                color: @color-white;
            }
            .header.panel > .header.links > li {
                margin: 0;
            }
            .custom-header-panel-text {
                color: @color-white;
                float: left;
            }
        }

        .nav-sections {
            float: left;
            margin-left: 22px;
        }
    }

    //
    // Above footer block
    //

    .above-footer-wrapper {
        background-color: @navipartner-blue;

        .navipartner-above-footer {
            display: flex;
            width: 1230px;
            margin: 0 auto;
    
            .text-box {
                align-items: center;
                display: flex;

                p {
                    color: @color-white;
                    font-size: 2.34375rem;
                    font-weight: 700;
                    text-transform: uppercase;
                }
        
                button {
                    background-color: transparent;
                    border-radius: unset;
                    border: 3px solid @color-white;
                    color: @color-white;
                    font-size: 1.4375rem;
                    font-weight: 700;
                    margin-top: 2rem;
                    padding: 15px;
                }
            }

            .image-block {
                img {
                    position: relative;
                    top: -8rem;
                } 
            }
    
            .text-box,
            .image-block {
                width: 50%;
            }
        }
    }

    //
    // Footer
    //

    .page-footer {
        .widget {
            margin: 0 !important;

            .footer-container {
                background-color: #0b1326;
                color: @color-white;

                a {
                    color: @color-white;
                    text-decoration: underline;
                }

                .footer-wrapper {
                    margin: 0 auto;
                    width: 1230px;

                    .footer-logo {
                        height: auto;
                        margin-top: 40px;
                        width: 100px;
                    }

                    .over-logo-webshop {
                        a {
                            font-weight: 700;
                            text-decoration: unset;
                            text-transform: uppercase;
                        }
                    }

                    .footer {
                        align-items: space-between;
                        display: flex;
                        flex-wrap: wrap;
                        padding: 40px 0;
                        
                        .footer-block {
                            width: 25%;

                            ul {
                                list-style-type: none;
                                padding-left: 0;
                            }

                            .credit-card-images {
                                margin-right: 5px;

                                :last-of-type {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


//
// Responsive design
//

@media only screen and (max-width: 1230px) {
    .footer-wrapper {
        margin: 0;
        width: 100%;

        .footer {
            align-items: unset;
            .footer-block {
                width: 100%
            }
        }
    }
}