//
// Custom responsive design
//

@import "styles.less";

// 640px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .breadcrumbs {
        margin-top: 20px;
    }

    .page-title-wrapper {
        margin-left: 20px;
    }

    .page-header {
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
        position: unset;
        top: unset;
        width: unset;
        height: 69px;
        margin: 0;

        .panel.wrapper {
            display: none;
        }

        .block-search,
        .minicart-wrapper {
            top: unset;
        }

        .block-search {
            right: unset;
        }

        .nav-sections {
            float: unset;
            margin-bottom: 0;
            margin-left: 0;
        }
    }

    .page-main {
        padding: 0;

        .columns {
            margin-top: 20px;
        }
    }

    .cms-home {
        .columns {
            margin-top: 0;
        }
    }

    .page-products {
        #maincontent > div.columns {
            padding-left: 20px;
        }
    }

    .navipartner-above-footer {
        display: flex;
        flex-direction: column;
        margin: unset;

        .text-box {
            align-items: unset;
            display: unset;
            margin-left: 4%;
            max-width: 100%;
            order: 1;

            p {
                font-size: 27.5px;
            }
        }

        .image-block {
            margin-top: -150px;
            width: 100%;

            img {
                width: 450px;
            }
        }
    }

    .footer-wrapper {
        .footer-blocks-wrapper {
            .footer-block {
                margin-bottom: 6rem;
                width: 100%;
            }
        }
    }
}

// 640px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .breadcrumbs {
        margin-top: 20px;
    }

    .page-title-wrapper {
        margin-left: 20px;
    }

    .page-header {
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
        position: unset;
        top: unset;
        width: unset;
        height: 69px;
        margin: 0;

        .panel.wrapper {
            display: none;
        }

        .block-search,
        .minicart-wrapper {
            margin-top: 8px;
        }

        .block-search {
            right: unset;
        }

        .nav-sections {
            float: unset;
            margin-bottom: 0;
            margin-left: 0;
        }
    }
    
    .page-main {
        padding: 0;

        .columns {
            margin-top: 20px;
        }
    }

    .minicart-wrapper {
        top: unset;
    }

    
    .cms-home {
        .columns {
            margin-top: 0;
        }
    }

    .page-products {
        #maincontent > div.columns {
            padding-left: 20px;
        }
    }

    .navipartner-above-footer {
        display: flex;
        flex-direction: column;
        margin: unset;

        .text-box {
            align-items: unset;
            display: unset;
            margin-left: 4%;
            max-width: 65%;
            order: 1;

            p {
                font-size: 27.5px;
            }
        }

        .image-block {
            margin-top: -150px;
            width: 100%;

            img {
                width: 450px;
            }
        }
    }

    .footer-wrapper {
        .footer-blocks-wrapper {
            .footer-block {
                margin-bottom: 6rem;
                width: 100%;
            }
        }
    }
}

// 768px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-header {
        box-shadow: 0 5px 60px 0 rgba(0, 0, 0, 0.25);
        position: fixed;
        top: 0;
        width: 100%;
        height: 140px;

        .panel.wrapper {
            display: block;
        }

        .block-search,
        .minicart-wrapper {
            top: -80px;
        }

        .minicart-wrapper {
            float: right;
            clear: left;
        }

        .block-search {
            right: unset;
        }

        .nav-sections {
            float: left;
            margin-bottom: 0;
            margin-left: 20px;
        }
    }

    .page-main {
        padding: 0;

        .columns {
            margin-top: 70px;
        }
    }
    
    .cms-home {
        .columns {
            margin-top: 140px;
        }
    }

    .page-products {
        #maincontent > div.columns {
            padding-left: 20px;
        }
    }

    .navipartner-above-footer {
        display: flex;
        flex-direction: column;
        margin: unset;

        .text-box {
            align-items: unset;
            display: unset;
            margin-left: 4%;
            max-width: 65%;
            order: 1;

            p {
                font-size: 32.5px;
            }
        }

        .image-block {
            margin-top: -150px;
            width: 100%;

            img {
                width: 550px;
            }
        }
    }

    .footer-wrapper {
        .footer-blocks-wrapper {
            .footer-block {
                margin-bottom: 6rem;
                width: 100%;
            }
        }

    }
}

// 1024px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break =@screen__l) {
    .page-header {
        height: 140px;

        .panel.wrapper {
            display: block;
        }

        .block-search,
        .minicart-wrapper {
            top: -80px;
        }

        .minicart-wrapper {
            float: right;
            clear: left;
        }

        .block-search {
            right: unset;
        }

        .nav-sections {
            float: left;
            margin-bottom: 0;
        }

    }

    .page-main {
        .columns {
            margin-top: 70px;
            padding: 0 20px;
        }
    }
    
    .cms-home {
        .columns {
            margin-top: 140px;
            padding: 0;
        }
    }

    .page-products {
        #maincontent > div.columns {
            padding-left: 20px;
        }
    }

    .navipartner-above-footer {
        display: flex;
        flex-direction: column;
        margin: unset;
        max-width: 87%;

        .text-box {
            align-items: unset;
            display: unset;
            margin-left: 4%;
            max-width: 50%;
            order: 1;

            p {
                font-size: 32.5px;
            }
        }

        .image-block {
            margin-top: -150px;
            width: 100%;

            img {
                width: 550px;
            }
        }
    }

    .footer-wrapper {
        .footer-blocks-wrapper {
            display: flex;

            .footer-block {
                width: 25%;
                padding-right: 2rem;
            }
        }
    }
}

// 1440px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break =@screen__xl) {
    .page-header {
        height: 140px;

        .panel.wrapper {
            display: block;
        }

        .block-search,
        .minicart-wrapper {
            top: -80px;
        }

        .minicart-wrapper {
            float: right;
            clear: left;
        }

        .block-search {
            right: unset;
        }

        .nav-sections {
            float: left;
            margin-bottom: 0;
        }
    }

    .page-main {
        .columns {
            margin-top: 70px;
            padding: 0 20px;
        }
    }

    .cms-home {
        .columns {
            margin-top: 140px;
        }
    }

    .page-products {
        #maincontent > div.columns {
            padding-left: 20px;
        }
    }

    .navipartner-above-footer {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        max-width: 87%;

        .text-box {
            order: 0;
            max-width: 55%;

            p {
                font-size: 37.5px;
            }
        }

        .image-block {
            height: auto;
            max-width: 45%;

            img {
                width: 600px;
            }
        }
    }

    .footer-wrapper {
        .footer-blocks-wrapper {
            display: flex;

            .footer-block {
                width: 25%;
                padding-right: 2rem;
            }
        }
    }
}